@model ProyFinalDESWB.Models.ActualizarEmpleado

@{
    ViewData["Title"] = "ActualizarEmpleado";
}

<h1>ActualizarEmpleado</h1>

<h4>ActualizarEmpleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarEmpleado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecnac" class="control-label"></label>
                <input asp-for="fecnac" class="form-control" />
                <span asp-validation-for="fecnac" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="codemp" class="control-label"></label>
                <input asp-for="codemp" class="form-control" />
                <span asp-validation-for="codemp" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="ListarEmpleadoNo" class="btn btn-info">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
