@model ProyFinalDESWB.Models.ActualizarCliente

@{
    ViewData["Title"] = "ActualizarCliente";
}

<h1>ActualizarCliente</h1>

<h4>ActualizarCliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActualizarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomcom" class="control-label"></label>
                <input asp-for="nomcom" class="form-control" />
                <span asp-validation-for="nomcom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dniruc" class="control-label"></label>
                <input asp-for="dniruc" class="form-control" />
                <span asp-validation-for="dniruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipocli" class="control-label"></label>
                <input asp-for="tipocli" class="form-control" />
                <span asp-validation-for="tipocli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codcli" class="control-label"></label>
                <input asp-for="codcli" class="form-control" />
                <span asp-validation-for="codcli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
